#content-wrapper {
    display: flex;
    flex-direction: row;
    /* Horizontal layout */
    justify-content: center;
    align-items: center;
    /* Align tops */
    gap: 20px;
    /* Space between graph and table */
}

table {
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
}

input[type="number"] {
    -webkit-appearance: textfield;
    /* For WebKit-based browsers (Chrome, Safari, etc.) */
    -moz-appearance: textfield;
    /* For Gecko-based browsers (Firefox) */
    appearance: textfield;
    /* Standard property for modern browsers */
    text-align: center;
}

#table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* centers children horizontally */
}